<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CompPagosFilialesV.My.MySettings.Production_AUXConnectionString"
            connectionString="Data Source=SERVER-RAID2;Initial Catalog=Production;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CompPagosFilialesV.My.MySettings.Factor100ConnectionString"
            connectionString="Data Source=SERVER-RAID;Initial Catalog=Factor100;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CompPagosFilialesV.My.MySettings.ATEBCOFIDIRECConnectionString"
            connectionString="Data Source=SRV37-CFDI;Initial Catalog=ATEBCOFIDIREC;Persist Security Info=True;User ID=finagil"
            providerName="System.Data.SqlClient" />
        <add name="CompPagosFilialesV.My.MySettings.ATEBCOFIDIRECConnectionString1"
            connectionString="Data Source=SRV37-CFDI;Initial Catalog=ATEBCOFIDIREC;Persist Security Info=True;User ID=sa;Password=Xa$cfd"
            providerName="System.Data.SqlClient" />
        <add name="CompPagosFilialesV.My.MySettings.WEB_FinagilConnectionString"
            connectionString="Data Source=SERVER-RAID2;Initial Catalog=WEB_Finagil;User ID=User_PRO;Password=User_PRO2015"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>